<div class="container">
  <header>
    <h3>{{ user_full_name }}</h3>
    <div><span class="label">User ID: </span>{{ user_id }}</div>
    <div><span class="label">Role: </span>{{ user_role }}</div>
  </header>

  <a href="/account/password/change"><i class="fas fa-key"></i> change password</a>
</div>