<div class="container mx-auto transition-[max-width] duration-500 ease-out relative z-10 panel-space">
  <a href="/admin" class="bg-primary flex justify-center items-center w-[144px] aspect-square rounded-lg rounded-t-none absolute shadow-md backdrop-blur-[3px] ">
    <span class="text-white font-sans text-2xl drop-shadow-grow">{{ section.settings.logo_text | default: "eventuai" }}</span>
  </a>
</div>