<div class="w-[10rem] flex items-center pe-4">
  <div class="font-bold me-2">{{ user.name | capitalize }}</div>
  <div><a href="/logout">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a></div>
</div>