<div class="w-[15rem] flex justify-end items-center me-14">
  <div class="font-bold me-4">{{ user.name | capitalize }}</div>
  <div><a href="/logout">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a></div>
</div>