<div class="text-sm leading-6 text-primary underline font-bold border-l border-gray-200 pl-4">
  <ul>
    <li><a href="/admin">Home</a></li>
    <li><a href="/admin/users">Users</a></li>
  </ul>
</div>