<div class="w-40 relative z-20">
  <div class="h-[160px]"></div>
  <ul class="text-xl text-primary text-center sticky top-4">
    <li>
      <a href="/admin" class="hover:text-black p-2 group relative"><i class="fa-solid fa-house"></i>
        <div class="hidden group-hover:block absolute right-0 top-0 bottom-0">
          <div class="absolute left-2 p-2 bg-primary text-white rounded font-bold text-base shadow-lg">Home</div>
        </div>
      </a>
    </li>
    <li>
      <a href="/admin/users" class="hover:text-black p-2 group relative"><i class="fa-solid fa-user-plus"></i>
        <div class="hidden group-hover:block absolute right-0 top-0 bottom-0">
          <div class="absolute left-2 p-2 bg-primary text-white rounded font-bold text-nowrap text-base shadow-lg">Users</div>
        </div>
      </a>
    </li>
  </ul>
</div>
